* {
  font-family: $font-family;
}
html {
  height: fill-available;
  height: -webkit-fill-available;
}
body {
  width: 100vw;
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  overflow: hidden;
  @include flex($dir: column, $justify-content: center, $align-items: center);
  background-color: $color--dark;
}
h1 {
  @include typography($font-type--h1);
  color: $color--primary;
}
ul {
  padding: 0.67em;
  @include flex($justify-content: space-between);
}
button {
  width: 100px;
  padding: 8px 24px;
  @extend %btn;
}
span {
  @include typography($font-type--body);
  color: $color--primary;
}
