//  Colors
$color--primary: #ffee32;
$color--secondary: #33ff88;
$color--light: #d6d6d6;
$color--dark: #101010;

//  Typography
$font-url--google: 'https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap';

$font-weight: 600;
$font-family: 'Quicksand', sans-serif;
$font-size--title: 2em;
$font-size--body: 1.2em;

$font-type--h1: 'H1';
$font-type--body: 'BODY';
